<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WebChat</title>
    <link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="/css/chat.css" />
</head>
<body>
    <div class="chat-container">
        <aside class="sidebar">
            <div class="user-info">
                <h2 class="logo" style="margin-bottom: 10px;">WebChat</h2>
                <p id="logged-user">@usuario</p>
            </div>
            <ul class="user-list" id="room-list">
                <li class="user" data-room="trabajo">Trabajo</li>
                <li class="user" data-room="familia">Familia ❤️</li>
                <li class="user" data-room="amigos">Amigos</li>
            </ul>
            <button id="logout-button" class="logout-btn">Cerrar sesión</button>
        </aside>
        <main class="chat-main">
            <div class="messages" id="container-messages">
            </div>
            <div id="chat-form" class="chat-form">
                <input type="text" id="message-input" placeholder="Escribe un mensaje..." autocomplete="off" required />
                <button id="btn-send-message">Enviar</button>
            </div>
        </main>
    </div>

    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/script.js"> </script>
</body>
</html>