<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Iniciar sesión - WebChat</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Rubik:wght@400;700&display=swap">
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="css/login.css">
</head>
<body>
  <div class="login-container">
    <div class="login-card">
      <h1 class="logo" style="margin-bottom: 30px;">WebChat</h1>
      <div class="input-group">
        <input type="text" id="username" name="username" placeholder="Tu nombre de usuario" required />
      </div>
      <div class="input-group">
        <input type="password" id="password" name="password" placeholder="Contraseña" required />
      </div>
      <button class="btn-login" id="btn-login">Ingresar</button>
    </div>
  </div>

   <script src="js/login.js"></script>
</body>
</html>
