* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Rubik', sans-serif;
  background: linear-gradient(120deg, #58606f, #26ba63, #576271);
  color: #fff;
}

.logo {
  font-size: 2rem;
  color: #2fd573;
  text-shadow: 0 0 10px rgba(0, 255, 229, 0.4);
}

.user-list .user.active {
    background-color: #007bff;
    color: white;
    font-weight: bold;
}